@import url("./typography.css");
@import url("./theme.css");
@import url("./responsive.css");
@import url("./overwrite.css");
@import url("./transitions.css");

:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    color-scheme: light dark;
    color: rgba(255, 255, 255, 1);

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#app {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

a {
    text-decoration: none;
    color: black;
}

body {
    display: flex;
    flex-direction: column;
}

.header-username{
    color: aliceblue;
    font-size: 110%;
    position: static;
}

.header-username:hover{
    color: #fff;
    font-weight:bolder;
    text-shadow: 2px 2px 2px #000;
    cursor: pointer;
}

.dropdown-main{
    position:absolute;
    display: none;
    float: right;
    margin: 0px;
    margin-top: 90px;
    margin-right: 10px;
    border-radius: 0px 0px 8px 0px;
    border-bottom: none;
    background-color: var(--primary-700);
    width: -webkit-fill-available;
    box-shadow: -2px -2px 10px #000;
}

.dropdown-main li{
    list-style: none;
    padding: 5px;
    text-align: center;
    border-radius: 0px 0px 8px 0px;
    color: #fff;
    text-shadow: none;
    background-color: var(--primary-700);
}

.dropdown-main li:hover{
    text-shadow: 1px 1px 1px #fff;
    background-color: rgba(30, 87, 30, 0.342);
}

.dropdown-main li a{
    color: #fff;
    width: 100%;
    display: block;
}

.user-header{
    position:static;
    display: grid;
}