@media (max-width: 2560) {
  html {
    font-size: 200%;
  }
}

@media (max-width: 1080px) {
  html {
    font-size: 100%;
  }
}

@media (max-width: 768px) {
  html {
    font-size: 85%;
  }
  .remove-question.rounded-full{
    font-size: 115%;
  }
}

@media (max-width: 500px){
  .heading-6{
    text-align: center;
  }
  .heading-1{
    text-align: center;
  }
  .logo{
    gap: 0 !important;
  }
}

@media (max-width: 320px) {
  html {
    font-size: 75%;
  }
  .logo{
    gap: 0 !important;
  }
}