:root {
  --primary: #519832;
  --primary-300: #6c965a;
  --primary-500: var(--primary);
  --primary-600: #468b28;
  --primary-700: #386923;
  
  --primary-opacity-100: var(--primary);
  --primary-opacity-50: rgba(82, 153, 51, .5);
  --primary-opacity-25: rgba(82, 153, 51, .5);
  
  --neutral-white: #ffffff;
  --neutral-light-gray: #ebebeb;
  --neutral-gray: #d9d9d9;
  --neutral-dark-gray: #656565;
  --neutral-black: #000000;

  --others-red-300: #a44646;
  --others-red-600: #b93131;
  --others-yellow-600: #f2c037;
}

.color-primary-300,
.primary-300,
.success-300 {
  color: var(--primary-300) !important;
}

.bg-primary-300,
.bg-success-300 {
  background: var(--primary-300) !important;
}

.primary,
.primary-500,
.color-primary-500,
.color-primary,
.success,
.success-500 {
  color: var(--primary-500) !important;
}

.bg-primary,
.bg-primary-500,
.bg-success,
.bg-success-500 {
  background: var(--primary-500) !important;
}

.primary-700,
.color-primary-700,
.success-700 {
  color: var(--primary-700) !important;
}

.bg-primary-700,
.bg-success-700 {
  background: var(--primary-700) !important;
}

.white,
.color-white {
  color: var(--neutral-white) !important;
}

.bg-white {
  background: var(--neutral-white) !important;
}

.light-gray,
.color-light-gray {
  color: var(--neutral-light-gray) !important;
}

.bg-light-gray {
  background: var(--neutral-light-gray) !important;
}

.gray,
.color-gray {
  color: var(--neutral-gray) !important;
}

.bg-gray {
  background: var(--neutral-gray) !important;
}

.dark-gray,
.color-dark-gray {
  color: var(--neutral-dark-gray) !important;
}

.bg-dark-gray {
  background: var(--neutral-dark-gray) !important;
}

.black
.color-black {
  color: var(--neutral-black) !important;
}

.bg-black {
  background: var(--neutral-black) !important;
}

.red
.color-red,
.color-red-600,
.others-red,
.others-red-600,
.danger,
.danger-600 {
  color: var(--others-red-600) !important;
}

.bg-red,
.bg-others-red,
.bg-others-red-600,
.bg-danger,
.bg-danger-600 {
  background: var(--others-red-600) !important;
}

.color-red-300,
.others-red-300,
.danger-300 {
  color: var(--others-red-300) !important;
}

.bg-others-red-300,
.bg-danger-300 {
  background: var(--others-red-300) !important;
}

.yellow,
.color-yellow,
.others-yellow,
.others-yellow-600,
.warn,
.warn-600 {
  color: var(--others-yellow-600) !important;
}

.bg-yellow,
.bg-others-yellow,
.bg-others-yellow-600,
.bg-warn,
.bg-warn-600 {
  background: var(--others-yellow-600) !important;
}

@media (prefers-color-scheme: dark) {
  :root {
      color: var(--neutral-white) !important;
      background-color: #242424;
  }
  .go-back g path{
    fill: white;
  }
  .card{
    background-color: #242424 !important;
    color: #fff;
    box-shadow: 2px 2px 40px #ffffff70;
    border: 1px solid #fff;
  }
  .card input{
    color: #fff;
  }
  .card span{
    color: #ffffffb6;
  }
  .card button{
    color: #fff;
  }
  .card .q-field__control{
    background-color: #00000033;
  }
  .card .interval-field{
    background-color: #00000033;
  }
  .q-icon.cursor-pointer, .q-icon.q-select__dropdown-icon{
    color: white !important;
  }
  .title-add-quiz button{
    color: #fff;
  }
  .close-button svg{
    fill: #fff !important;
  }
  .q-field__messages.col{
    color: rgba(255, 255, 255, 0.644) !important;
  }
}

@media (prefers-color-scheme: light) {
  :root {
      color: var(--neutral-black) !important;
      background-color: #fff;
  }
  .q-icon.cursor-pointer, .q-icon.q-select__dropdown-icon{
    color: black !important;
  }
  .go-back g path{
    fill: black;
  }
  .patientView-header{
    background-color: #fff !important;
  }
  section{
    background-color: #fff !important;
  }
  .nextPersonView{
    background-color: #fff !important;
  }
  .q-field__messages.col{
    color: black !important;
  }
  .nextPersonView:hover{
    background-color: #e2ffe4 !important;
  }
  .textarea{
    background-color: rgba(255, 255, 255, 0.671) !important;
  }
  .q-field__native, .q-field__prefix, .q-field__suffix, .q-field__input{
    color: black !important;
  }
  .login-form .q-field__native.q-placeholder, .q-field__prefix, .q-field__suffix, .q-field__input{
    color: white !important;
  }

  .q-field__label.no-pointer-events.absolute.ellipsis{
    color: rgba(0, 0, 0, 0.678);
  }
  .btnVoltar{
    color: white !important; 
  }
  .go-back g path{
    fill: white !important;
  }
  .editBtn{
    color: white !important;
  }
  .gerar-laudo{
    color: white !important
  }
  .info-patients button{
    color: white !important;
  }
  .inputEditable{
    background-color: #e3ffe575 !important;
  }
  .select-quasar{
    background-color: #e3ffe575 !important;
  }
  .q-menu.q-position-engine.scroll.q-menu--square{
    background-color: rgb(222, 231, 233) !important;
  }
  .card{
    background-color: #fff !important;
    color: #000;
    box-shadow: 2px 2px 40px #00000070;
    border: 1px solid #000;
  }
  .card input{
    color: #000;
  }
  .card span{
    color: #000000b6;
  }
  .card button{
    color: #f7feffd5;
  }
  .title-add-user button{
    color: white;
  }
  .card .q-field__control{
    background-color: #f5fbffdc;
  }
  .card .interval-field{
    background-color: #f5fbffdc;
  }
  .card .col.q-ml-sm .q-field.q-select{
    border: 1px solid #000;
    border-radius: 4px;
  }
  .title-add-quiz button{
    color: #fff;
  }
  .title-add-proximity button{
    color: white;
  }
  .proximity:hover, .user:hover, .quiz:hover, .patients-list:hover{
    background-color: rgba(176, 253, 193, 0.151) !important;
  }
}